# ----------------------
# Flask
# ----------------------
flask


# ----------------------
# Production Server
# ----------------------
gunicorn


# ----------------------
# Kafka
# ----------------------
kafka-python
cryptography


# ----------------------
Analysis
# ----------------------
textblob
psycopg2
